@use 'src/assets/styles/base';
@import "src/assets/styles/extends";


.container {
  width: map-get(base.$app_width, container);
  height: map-get(base.$app_height, block);

  ul {
    display: flex;
    flex-flow: column wrap;
    gap:20px;
    padding: 0;
  }
}