@use 'src/assets/styles/base';
@import 'src/assets/styles/extends';


.container {
  @extend %base-container-prop;
  gap: 20px;
  width: map-get(base.$app_width, app);
  height: map-get(base.$app_height, container);
  background-color: var(--main-bg);

}