@use 'sass:map';


$app_width: (
        app: 1200px,
        container: 1000px,
);

$app_height: (
        app: 100vh,
        container: calc(100vh - 120px),
        block: calc(100vh - 180px),
        header: 120px,
);